<template>
<h1>Permissions</h1>
    <pre>{{permissions}}</pre>
</template>

<script>
export default {
    name: "Index",
    props:{
        permissions:Object
    }
}
</script>

<style scoped>

</style>
