<template>
  <app-layout title="Admin-Users">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Users
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <section class="mb-4">
          <table class="min-w-full bg-white shadow table-fixed sm:rounded">
            <thead>
              <tr class="border-b border-gray-200">
                <th class="px-2 w-10 text-center">
                  <input
                    type="checkbox"
                    class="w-6 h-6 text-blue-600 rounded border-gray-300 lg:w-4 lg:h-4 focus:ring-blue-500"
                  />
                </th>
                <th class="text-left">
                  <Link
                    href="#"
                    class="flex relative z-10 items-center p-2 space-x-2 font-normal text-blue-600 group lg:text-sm focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-blue-500"
                  >
                    Name
                  </Link>
                </th>
                <th class="hidden w-48 text-left lg:table-cell">
                  <span
                    class="inline-block p-2 font-normal text-blue-600 lg:text-sm"
                  >
                    Roles
                  </span>
                </th>
                <th class="hidden w-28 text-left lg:table-cell">
                  <Link
                    href="#"
                    class="flex relative z-10 items-center p-2 space-x-2 font-normal text-blue-600 group lg:text-sm focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-blue-500"
                  >
                    Created At
                  </Link>
                </th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-100">
              <tr
                class="align-top group"
                v-for="(user, index) in users.data"
                :key="index"
              >
                <td class="p-1 text-center align-middle">
                  <input
                    type="checkbox"
                    class="w-6 h-6 text-blue-600 rounded border-gray-300 lg:w-4 lg:h-4 focus:ring-blue-500"
                  />
                </td>
                <td class="p-1 text-left">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-12 w-12">
                      <img
                        class="h-12 w-12 rounded-full"
                        :src="user.profile_photo_url"
                        alt
                      />
                    </div>

                    <div class="ml-4">
                      <Link
                        href="#"
                        class="text-sm font-semibold text-blue-600 break-all rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                      >
                        {{ user.name }}
                      </Link>
                      <p class="text-xs text-gray-500 break-all">
                        {{ user.email }}
                      </p>

                      <div
                        class="flex items-center mt-2 space-x-2 lg:invisible group-hover:visible"
                      >
                        <Link
                          href="#"
                          class="text-xs text-blue-600 rounded hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                          Edit
                        </Link>
                        <span class="text-xs text-gray-300">|</span>
                        <button
                          class="text-xs text-red-600 rounded hover:text-red-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                          Delete
                        </button>
                        <span class="text-xs text-gray-300">|</span>
                        <a
                          :href="user.url"
                          class="text-xs text-blue-600 rounded hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                          View
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="hidden p-2 text-left lg:table-cell">
                  <a
                    href="#"
                    class="text-blue-600 rounded lg:text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                  >
                    {{ user.roles }}
                  </a>
                </td>
                <td class="hidden p-2 text-left lg:table-cell">
                  <span class="text-gray-600 lg:text-sm">
                    {{ user.created_at }}
                  </span>
                </td>
              </tr>

              <tr class="align-top" v-if="!users.data.length">
                <td colspan="4" class="p-2 text-sm text-gray-700">
                  No users files found.
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <pagination :pagination="users.meta"></pagination>
      </div>
    </div>
  </app-layout>
</template>

<script>
import { defineComponent } from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import Pagination from '@/Shared/Pagination.vue'

export default defineComponent({
  components: {
    AppLayout,
    Welcome,
    Pagination,
  },
  props: {
    users: Object,
  },
})
</script>
